@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=PT+Sans&display=swap');

$enable-grid-classes: false;
$primary: #bde9e2;
$secondary: #5893D4;
$secondary-hover: #f6c4eab4;
$third: #ECB390;
$fourth: #1F3C88;
$fifth: #e5ecf5;
$success: #198754;
$danger: #E65C4F;
$info: #78A6C8;
$warning: #ffc107;
$light: #FFF5E4;
$dark: #212529;
$spacer: 1rem;
$border-width: 1px;
$btn-border-radius: .25rem;

#root{
    text-align: center;
    font-family: 'Commissioner', sans-serif;
}
.enterbutton {
    color: white;
    background: linear-gradient(to bottom, #FFF6BF, #ABD9FF);
    text-align: center;
    margin: auto;
    border-color: $secondary;
    font-size: 40px;
    position: relative;
    top: 40vh;
    position: relative;
}
.btn-secondary:hover {
    opacity: 0.6;
}

.enterbutton span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 3s infinite;
    animation-delay: calc(.1s * var((--i)));
}

@keyframes waviy{
    0%,
    40%,
    100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    } 
}
// @keyframes waviy {

//     0%,
//     80% {
//         transform: rotateY(360deg)
//     }
// }

.landingpagetitle {
    font-family: 'Commissioner', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30vh;
}

// .landingpage{
//     background-color: #1F3C88 ;
// }

#logo {
    animation: fill 0.5s ease forwards 2.9s;
}

body {
    width: 100vw;
    height: 100vh;
    // background-color: $primary;
    background-color: #FFFFFF;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    // background-attachment: fixed;
    background-size: cover;
    background-position: center;
    // background-size: 100% auto;
}

#logo path:nth-child(2){
    stroke-dasharray: 590px;
    stroke-dashoffset: 590px;
    animation: line-anim 2s ease forwards;
    background-color: #198754;
}

#logo path:nth-child(3){
    stroke-dasharray: 360px;
    stroke-dashoffset: 360px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(4){
    stroke-dasharray: 510px;
    stroke-dashoffset: 510px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(5){
    stroke-dasharray: 390px;
    stroke-dashoffset: 390px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(6){
    stroke-dasharray: 660px;
    stroke-dashoffset: 660px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(7){
    stroke-dasharray: 420px;
    stroke-dashoffset: 420px;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(8){
    stroke-dasharray: 350px;
    stroke-dashoffset: 350px;
    animation: line-anim 2s ease forwards 1.2s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

// .navbar {
//     background: linear-gradient(to bottom, #2a4faa 0%, $secondary 95%);
//     height: 80px;
//     display: flex;
//     overflow: auto;
//     position: fixed;
// }

// .navbar-logo {
//     flex: 1 1 200px;
// }

.piglogo {
    margin-top: 80px;
}

.nav-link {
    color: $fifth;
}
.navbar-brand {
    font-family: 'Commissioner', sans-serif;
    font-size: x-large;
}
.npm-logo{
  height: 60px;
  width: 120px;
}

// styling result query to command interface like
.result-query {
    // resize: none;
    // margin: 0px 0px 10px 10px;
    // border: none;
    // outline: none;
    background-color: $dark;
    font-family: Monospace;
    // width: calc(100% - 20px);
    overflow: auto;
    color: #78A6C8;
    resize: none;
    // margin: 0px 0px 10px 10px;
    border: none;
    outline: none;
    background-color: $dark;
    font-family: Monospace;
    // width: calc(100% - 20px);
    // margin: 10px 0px 0px 10px;
    text-align: left;
    font-size: 25px;
}

// styling selected query to command interface like
.selected-query {
    resize: none;
    margin: 0px 0px 10px 10px;
    border: none;
    outline: none;
    background-color: $dark;
    color: rgb(255, 255, 255);
    font-family: Monospace;
    font-size: 27px;
    width: calc(100% - 20px);
    overflow: hidden;
    margin: 10px 0px 0px 10px;
    text-align: left;
}

// Selecting Demo query button container
.demo-query-container{
    flex-direction: column;
    position: absolute;
    top: 5vh;
    border-radius: 10%;
    left: -20vw;
    // border: 2mm solid #326789;
    width: 10vw;
    justify-content: center;
}
// Styling demo query buttons
.demo-query-btn{
    background-color: $info;
    border-color: $primary;
    display: flex;
    flex-shrink: 0;
    width: 250px;
    height: 50px;
    border-radius: 99em;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em black;

}
// Styling demo query buttons
label{
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    &:checked + span {
      background-color: mix(#fff, $info, 84%);
      &:before {
        box-shadow: inset 0 0 0 0.4375em $info;
        
      }
    }
}
// Styling run query button
#runQueBtn{
    background-color: $danger;
    // margin-top: 50px;
    color: $light;
    border-color: $primary;
    display: flex;
    flex-shrink: 0;
    height: 50px;
    // border-radius: 10px;
    width: 250px;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em black;
    align-items: center;
    padding: 0.75em 0.75em 0.75em 0.5em;
    padding: 10px;
    border-radius: 99em; // or something higher...
    transition: 0.25s ease;
    &:hover{
        background-color: mix($danger,black, 70%);
    }
}
// Styling demo query buttons
.demo-query-btns{
    border-radius: 15px;
    border: solid 2px;

// #runQueBtn:hover {
//     background-color: #1F3C88 ;
// }

.metrics {
    font-size: 27px;
    font-family: Monospace; 
}

#metricsbody {
    margin-top: 100px;
    font-size: 20px;
}

.graph {
    font-size: 27px;
    font-family: Monospace;
}

#linechart {
    margin-top: 50px;
    display: inline-block;
    position: relative;
    width: 100%;
}

}
// // Styling 4 displayers in demo page
.card-container{
    left: 30%;
    // top: -100vh;
    position: sticky;
    width:fit-content;
    margin-left: 0.5vw;
    // margin: .5em;
    margin-bottom: 0.5vh;
}

.info-container {
    margin-top: 0;
    position: relative;
    top: -20px;
}

.row{
    position: relative;
    top: -30px;
}

.introduction {
    background-color: #f7fbfd;
    border-radius: 20px;
    padding-bottom: 50px;
  
    // padding: 15px;
    // width: 100%;
    // box-shadow: 0 0 5px 2px #dddddd;
    
    #intro {
        margin-top: 100px;
        // right: 200px;
        // margin-left: 90px;
        // margin: left;

        img {
            margin-bottom: 15px;
        }

        // .col{
        //     margin-left: 20px;
        // }

        // p {
        //     font-size: 23px;
        //     font-style: italic;
        //     margin-bottom: 50px;
        //     color: #121875;
        //     margin-left: -7px;
        // }

        h1 {
            font-weight: bold;
            // color: #121875;
            color: #326789;
        }
        h2 {
            font-size: 25px;
            // color: #121875;
        }
        h5 {
            font-size: 16px;
            font-style: italic;
            margin-bottom: 50px;
            color: #78A6C8;
            margin-left: -7px;
        }

        .introtext {
            font-size: 20px;
            color: dimgrey;
        }
    }
}


// .fs-4 {
//     #package {
//         font-size: 20px;
//         margin-right: 10px;
//     }
// }

.graphql {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 90px;
    img {
        margin-top: 30px;
        width: 500px;
        height: auto;
    }

    div {
        padding: 15px;
        // margin-bottom: -15px;
        color: dimgrgb(39, 39, 39);

        #graphql {
            color: #326789;
            font-weight: bold;
            padding: -30px;
        }
    }
}

.caching {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f7fbfd;
    
    img {
        width: 400px;
        height: auto;
    }

    div {
        margin-left: 40px;
        margin-top: 40px;
        padding: 15px;
        margin-bottom: -45px;
        color: dimgrgb(39, 39, 39);

        #caching {
            color: #326789;
            font-weight: bold;
            padding: 30px;
        }
    }

    p {
        font-size: 15px;
    }
}

.techstack {
    padding-top: 50px;
    padding-bottom: 50px;
    
    #amazon {
        width: 220px;
        height: auto;
        position: relative;
        top:15px;
    }
    #chartjs {
        position: relative;
        right: 25px;
        width: 200px;
        height:auto;
    }
    #graphqllogo {
        position: relative;
        right: 10px;
    }
    #redis {
        position: relative;
        width: 190px;
        height: auto;
        top: 15px;
    }
    img{
        width: 175px;
        height: auto;

    }
    padding-top: 50px;
    margin-right: 90px;
    div {
        padding: 15px;
        margin-bottom: -45px;
        margin-top: 40px;
        color: dimgrgb(39, 39, 39);

        #techstack {
            color: #326789;
            font-weight: bold;
            padding: -30px;
        }
    }
}

